/assets_spider/assets_spider/results
/assets_spider/assets_spider/spiders/heroImgsCN
/assets_spider/assets_spider/spiders/heroImgs
/gen_pics/.idea
/assets_spider/.idea
/assets_spider/assets_spider/utils/cards
/assets_spider/assets_spider/utils/circle
/assets_spider/assets_spider/utils/triple
/assets_spider/assets_spider/__pycache__
/.ipynb_checkpoints
/build_dataset/assets
/build_dataset/.ipynb_checkpoints
/assets_spider/assets_spider/__pycache__/__init__.cpython-38.pyc
/assets_spider/assets_spider/__pycache__/items.cpython-38.pyc
/assets_spider/assets_spider/__pycache__/settings.cpython-38.pyc
/gen_pics/circle
/assets_spider/assets_spider/spiders/heroSkin2
/assets_spider/assets_spider/spiders/heroSkin
/assets_spider/assets_spider/utils/avatar_en_temp
/build_dataset/lol_data_1.zip
/build_dataset/lol_data_1
/build_dataset/lol-callbacks
/build_dataset/test
/build_dataset/test_gray
/build_dataset/training
/build_dataset/training2
/build_dataset/training3
/build_dataset/valid
/build_dataset/valid2
/build_dataset/1.png
/build_dataset/2.png
/build_dataset/3.png
/build_dataset/4.png
/build_dataset/5.png
/build_dataset/6.jpg
/build_dataset/7.jpg
/build_dataset/9.jpg
/build_dataset/73.jpg
/build_dataset/999.jpg
/build_dataset/1010.jpg
/build_dataset/aaa.jpg
/build_dataset/card.jpg
/build_dataset/sss.jpg
/build_dataset/test.jpg
/build_dataset/wwww.jpg
/capture_screen
/assets_spider/assets_spider/spiders/__pycache__
/build_dataset/ban_face_dataset
/build_dataset/ban_face_recognition
/build_dataset/champ_faces
/build_dataset/checkpoints
/build_dataset/face_recognition
/build_dataset/in_game_profile_dataset
/build_dataset/ss
/PoroApp/venv
/PoroApp/.idea
/PoroApp/build
/PoroApp/temp
/PoroApp/test
/PoroApp/view/__pycache__
/PoroApp/utils/__pycache__
/PoroApp/model/__pycache__
/PoroApp/conf/__pycache__
/poro_app/.idea
/poro_app/venv
/poro_app/test
